i.fa {
  display: inline-block;
  border-radius: 50px;\
  color: #fff;
  background: #eedfcc;
  box-shadow: 0px 0px 2px #888;
  padding: 0.7em 0.7em 0.7em 0.7em;

}

@media screen and (max-width: 600px) {
  .list-inline-item {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

@media screen and (min-width : 320px)
  and (max-width : 599px)
  {
  .list-inline-item1 {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}
