.btn-fb {
  border-radius: 50%;
  behavior: url(PIE.htc);
  /* remove if you don't care about IE8 */
  width: 36px;
  height: 36px;
  padding: 8px;
  background: #000080;
  border: 2px solid #666;
  color: #fff;
  text-align: center;
  font: 32px Arial, sans-serif;
}
